<template>
    <div class="container">
        <div class="row">            
            <div class="col-md-12">
                <h3 class="title-5 m-b-35">Sent Notifications</h3>
                <div class="table-responsive table-responsive-data3">
                    <table class="table table-data3">
                        <thead>
                            <tr>
                                <th>Mobile Number</th>
                                <th>Message</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-shadow" v-for="message in messages">
                                <td>{{ message.mobile_number }}</td>
                                <td>{{ message.message }}</td>
                                <td></td>
                            </tr>
                            <tr class="tr-shadow" v-if="messages.length === 0">
                                <td class="denied" colspan=3>No messages sent yet.</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- Pagination -->
                    <nav>
                        <ul class="pagination">
                            <li v-if="pagination.current_page > 1">
                                <a href="#" aria-label="Previous" @click.prevent="changePage(pagination.current_page - 1)">
                                    <span aria-hidden="true">«</span>
                                </a>
                            </li>
                            <li v-for="page in pagesNumber" v-bind:class="[ page == isActived ? 'active' : '']">
                                <a href="#" @click.prevent="changePage(page)">{{ page }}</a>
                            </li>
                            <li v-if="pagination.current_page < pagination.last_page">
                                <a href="#" aria-label="Next" @click.prevent="changePage(pagination.current_page + 1)">
                                    <span aria-hidden="true">»</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        /*
         * The component's data.
         */
        data() {
            return {
                messages: [],
                pagination: {
                    total: 0,
                    per_page: 2,
                    from: 1,
                    to: 0,
                    current_page: 1
                },
                offset: 4,
                formErrors: {},
                formErrorsUpdate: {},
                newItem: {
                    'title': '',
                    'description': ''
                },
                fillItem: {
                    'title': '',
                    'description': '',
                    'id': ''
                }
            };
        },

        computed: {
            isActived: function () {
                return this.pagination.current_page;
            },
            pagesNumber: function () {
                if (!this.pagination.to) {
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + (this.offset * 2);
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                var pagesArray = [];
                while (from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;
            }
        },

        /**
         * Prepare the component (Vue 1.x).
         */
        ready() {
            this.getMessages(this.pagination.current_page);
        },

        /**
         * Prepare the component (Vue 2.x).
         */
        mounted() {
            this.getMessages(this.pagination.current_page);
        },

        methods: {
            /**
             * Prepare the component.
             */
            getMessages: function (page) {
                axios.get('/sms?page=' + page).then((response) => {
                    var messages = response.data.data.data
                    var pagination = response.data.pagination
                    this.messages = messages;
                    this.pagination = pagination;
                });
            },

            /**
             * Paginate
             */
            changePage: function (page) {
                this.pagination.current_page = page;
                this.getMessages(page);
            }
        }
    }
</script>
